
td, th {
	border: 15px solid;
  background-color: rgb(0, 0, 0);
}

th {
  background-color: rgb(79, 9, 35);
  font-weight: 300;
}

body {
  background-color: #7290a1f8;
  font-family: 'Rajdhani', 'Times New Roman', Times, serif;
  font-size: 60px;
  color: #725e40b7
}

h1 {
  color: #92703c;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}

.secondheading{
  font-size: 24px;
  text-align: center;
  color: black;
  font-weight: 400;
}

.customheading {
  color: #030c2f;
  font-weight: 700;
  font-size: 36px;
  background-color: rgb(120, 42, 47);
  margin: 0 auto;
  width: 40%;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 20%;
}

.leftcolumnheader{
  font-weight: 700;
  background-color: rgb(79, 42, 47);
  text-transform: uppercase;
}

#italic{
  font-style: italic;
}

#planets {
  width: 60%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
}

img {
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: 200px;
}